@page
@model FinnFragen.Web.Pages.CodeModel
@{
    ViewData["Title"] = "Fehler " + Model.Code;
}

<div class="text-center">
    <h1 class="display-4">Fehler @Model.Code</h1>

    <h3>Wenn du nach einer Frage suchst wurde sie womöglich gelöscht oder zurückgezogen.</h3>

    <div class="mt-3">
        <a asp-page="/Ask" class="btn btn-primary btn-lg mt-2">Eine Frage an Finn stellen</a>
        <a asp-page="/Questions/Index" class="btn btn-primary btn-lg mt-2">Alle Fragen anzeigen</a>
    </div>
</div>