@page
@model FinnFragen.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Hallo";
}
<div class="text-center">

    <h1 class="display-2 mb-4">Was ist deine Frage?</h1>

    <h4 class="">Frage zu Computern, Programmierung oder Mathe? Dann ist Finn dein Mann.</h4>
    <a asp-page="/Ask" class="btn btn-primary btn-lg mt-4">Eine Frage an Finn stellen</a>
    <h5 class="mt-3">Alle Fragen werden nach der Beantwortung veröffentlicht.</h5>
    <a asp-page="/Questions/Index" class="btn btn-primary btn-lg mt-1">Beantwortete Fragen anschauen</a>

</div>