@page
@model FinnFragen.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Hallo";
}
<div class="text-center">

    <h1 class="display-2 mb-4">Was ist deine Frage?</h1>

    <h4 class="">Frage zu Computern, Programmierung oder Mathe? Dann ist Finn dein Mann.</h4>
    <a asp-page="/Ask" class="btn btn-primary btn-lg mt-4">Eine Frage an Finn stellen</a>
    
</div>