@page "{name}"
@model FinnFragen.Web.Pages.Questions.QuestionModel
@{
    ViewData["Title"] = Model.Question.Title;
}

<div class="card border-secondary mb-3">
    <div class="card-header d-flex align-content-center align-items-center">
        <span class="flex-grow-1">Frage</span>

        <button class="btn btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#question" aria-expanded="true">
            <i class="fas fa-chevron-up" aria-hidden="true"></i>
        </button>
    </div>
    <div id="question" class="collapse show">
        <div class="card-body">
            <h2>@Model.Question.Title</h2>
            <hr />
            @Html.Raw(Model.Question.QuestionHtml)
        </div>
    </div>
</div>

<div class="card border-success mb-3">
    <div class="card-header d-flex align-content-center align-items-center">
        <span class="flex-grow-1">Antwort</span>

        <button class="btn btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#answer" aria-expanded="true">
            <i class="fas fa-chevron-up" aria-hidden="true"></i>
        </button>
    </div>
    <div id="answer" class="collapse show">
        <div class="card-body">
            @Html.Raw(Model.Question.AnswerHtml)
        </div>
    </div>
</div>

@if (HttpContext.User.Identity.IsAuthenticated)
{
    <a asp-page="/Status/Status" asp-route-id="@Model.Question.Identifier" class="btn btn-primary mt-3">Zum Status</a>
}


@section Scripts
{
    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/js/Highlight.js"></script>
    <script src="~/lib/prism/prism.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}